// main: style.scss

/* Archive Page Header */
.page-header {
	@include rem('margin-bottom', 40px);
	@include rem('padding-bottom', 0px);
	border-bottom: 1px solid #e8e8e8;
	h1 {
		@include rem('margin-bottom', 5px);
	}
	.archive-description {
		font-style: italic;
	}
}

/* Front Page Section */
.front-page-section {
	@include rem('margin-top', 60px);
	.section-header {
		text-align: center;
		max-width: 80%;
		margin: 0 auto;
		@include media-breakpoint-up(md) {
			max-width: 90%;
		}
		@include media-breakpoint-up(xs) {
			max-width: 100%;
		}
		h2 {
			@include rem('font-size', 48px);
			@include rem('padding-bottom', 23px);
			@include rem('padding-top', 10px);
			font-weight: 300;
			position: relative;
			@include media-breakpoint-up(md) {
				@include rem('font-size', 38px);
			}
			@include media-breakpoint-up(xs) {
				@include rem('font-size', 34px);
			}
			&:after {
				content: "";
				width: 100px;
				height: 2px;
				position: absolute;
				bottom: 0px;
				background: $color__primary;
				display: block;
				left: 50%;
				margin-left: -50px;
			}
		}
	}
	.section-content {
		@include rem('margin-top', 20px);
	}
}

/* Front page section: Featured Content slider */
.site-featured-content {
	overflow: hidden;
	padding: 0;
	.featured-posts-slider {
		height: 100%;
		overflow: hidden;
		position: relative;
	}
	.hentry {
		position: relative;
	}
	.featured-post-slide-meta {
		animation-name: fadeInLeft;
		position: absolute;
		left: 0;
		top: 0;
		width: 387px;
		height: 100%;
		@include rem('padding', 80px 30px);
		color: #fff;
		background: rgba(39,48,57,.9);
		@include media-breakpoint-down(md) {
			@include rem('padding', 40px 30px);
		}
		@include media-breakpoint-down(sm) {
			width: 200px;
			@include rem('padding', 20px 15px);
		}
		h2, h2 a {
			color: #fff;
			font-size: 28px;
		    line-height: 1.5em;
			font-weight: 300;
			@include media-breakpoint-down(sm) {
				font-size: 23px;
			    line-height: 1.6;
			}
		}
		p {
			letter-spacing: 0.2px;
			line-height: 1.8;
			@include rem('margin-top', 40px);
		    overflow: hidden;
		    color: rgba(255,255,255,.8);
			@include media-breakpoint-down(md) {
				@include rem('margin-top', 20px);
			}
			@include media-breakpoint-down(sm) {
				display: none;
			}
		}
		.slide-readmore {
			@include media-breakpoint-down(xs) {
				visibility: hidden;
			}
		    display: block;
			@include rem('margin-top', 50px);
			@include media-breakpoint-down(md) {
				@include rem('margin-top', 25px);
			}
			a {
				display: inline-block;
			    padding: 9px 30px 10px;
			    border: 2px solid rgba(255,255,255,.5);
			    color: rgba(255,255,255,.8);
			    text-transform: uppercase;
			    font-weight: 300;
				@include border-radius(3px);
				&:hover {
					color: #fff;
					background: $color__primary;
					border-color: $color__primary;
				}
				@include media-breakpoint-down(md) {
					padding: 8px 20px 9px;
				}
			}
		}
	}
	.slider-nav {
		position: absolute;
		right: 0;
		bottom: 0px;
		z-index: 99;
	}

	.slider-nav-next,
	.slider-nav-prev {
		z-index: 999;
		top: auto;
	    right: 15px;
		bottom: 15px;
		text-align: center;
		opacity: .6;
		&:hover {
			opacity: 1;
		}
		button {
			border: none;
			@include rem('padding', 4px 15px 4px 17px);
			background: #000000;
		}
		.fa {
			font-size: 36px;
			color: #fff;
		}
		@include media-breakpoint-down(xs) {
			button {
				@include rem('padding', 1px 10px 1px 11px);
			}
			.fa {
				font-size: 26px;
				color: #fff;
			}
		}

	}
	.slider-nav-prev {
		right: 70px;
	    left: auto;
		button {
			@include rem('padding', 4px 17px 4px 15px);
		}
		@include media-breakpoint-down(xs) {
			right: 55px;
			button {
				@include rem('padding', 1px 11px 1px 9px);
			}
		}
	}
}

/* Front Page Section: Featured Page Area */
#featured-page-area {
	article[class*="grid-md"] {
        @include rem('margin-botttom', 0px);
		@include media-breakpoint-down(md) {
			@include rem('margin-botttom', 30px);
		}
	}
}

/* Front Page Section: Grid Page */
.frontpage-grid-page {
	article[class*="grid-md"] {
		margin-bottom: 0px;
		@include rem('margin-top', 30px);
	}
	.frontpage-grid-media {
		position: relative;
		box-shadow: 0 0 6px rgba(39, 48, 57, 0.1);
		img {
			width: 100%;
			height: auto;
		}
		.transition5 {
			background: rgba(0, 0, 0, 0.8);
			color: #FFFFF;
			height: 100%;
			width: 100%;
			position: absolute;
			left: 0;
			top: 0;
			text-align: center;
			@include rem('padding', 20px);
			opacity: 0;
			visibility: hidden;
		}
		.frontpage-grid-content {
			top: 50%;
		    transform: translateY(-50%);
			z-index: 99;
			position: relative;
			h3 {
				@include rem('margin-bottom', 30px);
			}
			h3 a{
				font-weight: 300;
				color: #FFF;
			}
		}
		&:hover .transition5 {
			opacity: 0.9;
			visibility: visible;
		}
	}
}

/* Front Page Section: Testimonials */
#testimonials-area {
	.section-content {
		@include rem('margin-top', 50px);
	}
	&.testimonials-grid-layout .section-content {
		@include rem('margin-top', 20px);
	}
}
.testimonials-slider {
	position: relative;
	width: 100%;
	text-align: center;
	.entry-content {
		@include rem('font-size', 19px);
		font-weight: 300;
		line-height: 1.8;
		@include rem('padding', 0px 100px 10px);
		@include media-breakpoint-down(md) {
			@include rem('padding', 0px 0px 10px);
		}
	}
	.entry-header {
		@include rem('margin-top', 10px);
		.entry-thumb {
			margin-bottom: 13px;
			img {
				border-radius: 100%;
				max-width: 100px;
				box-shadow: 0 0 6px rgba(39, 48, 57, 0.1);
			}
		}
		.entry-title {
			@include rem('font-size', 19px);
			font-weight: 400;
			line-height: inherit;
		}
	}
	.slider-nav {
		position: absolute;
		left: 0px;
		z-index: 90;
		top: 50%;
		transform: translateY(-50%);
		z-index: 99;
		@include media-breakpoint-down(md) {
			top: 75%;
		}
		button {
			border: 1px solid transparent;
			background: transparent;
			@include rem('padding', 4px 17px 4px 15px);
			&:hover {
				background: #FFFFFF;
				border-color: $color__border;
			}
		}
		.fa {
			font-size: 42px;
			color: rgba(0,0,0,.6);
		}
	}
	.slider-nav-next {
		left: auto;
		right: 0px;
		button {
			@include rem('padding', 4px 15px 4px 17px);
		}
	}
}

/* Testimonials Grid */
.testimonials-grid {
	article[class*="grid-md-"] {
		margin-bottom: 0px;
		@include rem('margin-top', 30px);
	}
	.entry-content {
		background: #FFFFFF;
		border: 1px solid $color__border;
		@include rem('padding', 25px 25px 8px);
		position: relative;
		&:after {
            position: absolute;
            bottom: -10px;
            left: 42px;
            content: "";
            display: block;
            width: 18px;
            height: 18px;
            background: #FFF;
            border: 1px solid $color__border;
            -ms-transform: rotate(45deg); /* IE 9 */
			-webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
			transform: rotate(45deg);
			border-top: none;
			border-left: none;
        }
	}
	.entry-header {
		@include rem('margin', 30px 0px 0px 18px);
		position: relative;
		line-height: 70px;
		.entry-thumb {
			position: absolute;
			top: 0;
			left: 0;
			img {
				border-radius: 100%;
				max-width: 70px;
				box-shadow: 0 0 6px rgba(39, 48, 57, 0.1);
			}
		}
		.entry-title {
			@include rem('font-size', 18px);
			font-weight: 400;
			line-height: inherit;
			padding-left: 80px;
		}
	}
}

/* Front Page Section: Latest News */
.front-page-latest-news {
	.section-content {
		@include rem('margin-top', 50px);
	}
	.hentry {
		float: left;
		@include rem('margin-bottom', 30px);
		width: 48%;
		margin-right: 4%;
		&:nth-of-type(2n) {
			margin-right: 0px;
		}
		@include media-breakpoint-down(md) {
			float: none;
			margin-right: 0px;
			width: 100%;
		}
	}
	.entry-title {
		@include rem('font-size', 24px);
		@include rem('margin-bottom', 5px);
		line-height: 1.6;
		font-weight: 400;
	}
	.byline {
		display: none;
	}
	.entry-meta a {
		color: $color__meta;
		&:hover {
			color: $color__primary;
		}
	}
	.more-recent-posts {
		text-align: center;
	}
	.btn {
		@include rem('margin-top', 15px);
	}
}


/* Content Grid */
.grid-item-content {
	color: rgba(39, 48, 57, 0.65);
	background: #FFFFFF;
	@include rem('padding', 23px 30px 16px);
	position: relative;
	overflow: hidden;
	//border: 1px solid $color__border;
	text-align: center;
	box-shadow: 0 0 6px rgba(39, 48, 57, 0.1);
	h3 {
		font-weight: 400;
		@include rem('margin-bottom', 14px);
	}
	&.has-thumbnail {
		border-top: none;
	}
	.grid-item-more {
		background: $color__primary;
		position: absolute;
		left: 0;
		bottom: 0;
		height: 100%;
		width: 100%;
		text-align: center;
		visibility: hidden;
		opacity: 0;
		a {
			display: inline-block;
			position: relative;
		    top: 50%;
		    transform: translateY(-50%);
			z-index: 99;
		}
	}
}
.grid-item-wrapper {
	.grid-item-thumbnail {
		img {
			width: 100%;
		}
	}
	&:hover {
		.grid-item-content {

		}
		.grid-item-more {
			opacity: 0.9;
			visibility: visible;
			a {
				opacity: 1;
			}
		}
	}
}
.grid-area {
	@include rem('margin-top', 60px);
}
