/*
Editor Styles
--------------------------------------------------------------*/
/*--------------------------------------------------------------
#. Normalize
--------------------------------------------------------------*/
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 0;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	-webkit-appearance: textfield;
	box-sizing: inherit;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/*--------------------------------------------------------------
# Document
--------------------------------------------------------------*/
*,
*:before,
*:after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 16px;
}

/*------------------------------
# Typography
------------------------------*/
body {
	color: rgba(39, 48, 57, 0.85);
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1rem;
	line-height: 1.7;
}

body {
    margin: 25px;
}

/*------------------------------
# Links
------------------------------*/
a {
	color: #42caad;
	text-decoration: none;
}

a:hover, a:focus, a:active {
	color: #666666;
}

a:focus {
	outline: thin dotted;
}

a:hover, a:active {
	outline: 0;
}

a img {
	border: 0 none;
}

/*------------------------------
# Heading
------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	color: inherit;
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.2;
	margin-top: 0;
	font-weight: 500;
	margin-bottom: 20px;
	margin-bottom: 1.25rem;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: rgba(39, 48, 57, 0.85);
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
	color: #42caad;
}

h1 {
	line-height: 1.3;
	font-size: 32px;
	font-size: 2rem;
}

@media (min-width: 768px) {
	h1 {
		font-size: 37px;
		font-size: 2.3125rem;
	}
}

h2 {
	line-height: 1.3;
	font-size: 25px;
	font-size: 1.5625rem;
}

@media (min-width: 768px) {
	h2 {
		font-size: 30px;
		font-size: 1.875rem;
	}
}

h3 {
	line-height: 1.3;
	font-size: 23px;
	font-size: 1.4375rem;
}

h4 {
	font-size: 20px;
	font-size: 1.25rem;
}

h5 {
	font-size: 19px;
	font-size: 1.1875rem;
}

h6 {
	font-size: 18px;
	font-size: 1.125rem;
}

/*------------------------------
# Base
------------------------------*/
ul, ol, dl, p, details, address, .vcard, figure, pre, fieldset, table, dt, dd, hr {
	margin-bottom: 17px;
	margin-bottom: 1.0625rem;
	margin-top: 0;
}

/*------------------------------
# Content
------------------------------*/
img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

b,
strong {
	font-weight: bold;
}

blockquote {
	clear: both;
	margin: 20px 0px 25px;
	margin:  1.25rem 0rem 1.5625rem;
	box-shadow: 2px 2px 13px #eeeeee;
	border: 1px solid rgba(39, 48, 57, 0.1);
	border-left: 3px solid #42caad;
	padding: 10px 15px;
	padding:  0.625rem 0.9375rem;
	font-size: 18px;
	font-size: 1.125rem;
	font-weight: 100;
	font-style: italic;
}

blockquote p:last-child {
	margin-bottom: 3px;
}

blockquote cite {
	font-style: normal;
	margin-bottom: 16px;
	margin-bottom: 1rem;
	font-size: 13px;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

hr {
	border: 0;
	border-top: 1px solid rgba(39, 48, 57, 0.1);
	height: 1px;
	margin-bottom: 20px;
	margin-bottom: 1.25rem;
}

pre {
	overflow: auto;
	white-space: pre-wrap;
	max-width: 100%;
	line-height: 1.7;
	margin: 0 0 20px 0;
	margin:  0 0 1.25rem 0;
	padding: 20px;
	padding: 1.25rem;
	background: #f8f9f9;
}

details summary {
	font-weight: bold;
	margin-bottom: 20px;
	margin-bottom: 1.25rem;
}

details :focus {
	outline: none;
}

abbr,
acronym,
dfn {
	cursor: help;
	font-size: .95em;
	text-transform: uppercase;
	border-bottom: 1px dotted rgba(39, 48, 57, 0.1);
	letter-spacing: 1px;
}

mark {
	background-color: #fff9c0;
	text-decoration: none;
}

small {
	font-size: 82%;
}

big {
	font-size: 125%;
}

dt {
	font-weight: bold;
    margin-bottom: 2px;
}

dd {
	margin: 0 20px 20px;
	margin:  0 1.25rem 1.25rem;
}


/*------------------------------
# Table
------------------------------*/
table {
	width: 100%;
	border: 1px solid rgba(39, 48, 57, 0.1);
	border-collapse: collapse;
	border-spacing: 0;
}

table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
	border: 1px solid rgba(39, 48, 57, 0.1);
	line-height: 1.3;
	padding: 10px;
	vertical-align: middle;
	text-align: center;
	font-weight: normal;
}

table > thead > tr > th, table > thead > tr > td {
	border-bottom-width: 2px;
}

.mce-item-table, .mce-item-table td, .mce-item-table th, .mce-item-table caption {
    border: 1px solid rgba(39, 48, 57, 0.1);
}

/*------------------------------
# Alignments
------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 25px;
	margin-right: 1.5625rem;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 25px;
	margin-left: 1.5625rem;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*------------------------------
# Media
------------------------------*/
/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
	font-size: 0.75rem;
	font-style: italic;
}

.wp-caption-text {
	text-align: center;
}

/*------------------------------
# Galleries
------------------------------*/
.gallery {
	margin-bottom: 1.6em;
}

.gallery-item {
	display: inline-block;
	padding: 1.79104477%;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-icon img {
	margin: 0 auto;
}

.gallery-caption {
	color: rgba(39, 48, 57, 0.85);
	display: block;
	font-size: 0.81em;
	font-style: italic;
	line-height: 1.4;
	padding: 0.5em 0;
}

.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}
